footer {
    background-color: #aeaeae;
    padding: 20px 0;
    color: #ffffff; 
}

footer section {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-info img {
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}

.company-info p {
  width: 320px;
}

footer h3 {
  font-size: 18px;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 8px 0;
}

footer ul li a {
  text-decoration: none;
  color: inherit; 
  background-color: transparent; 
  padding: 5px; 
  border-radius: 5px; 
}

footer ul li a:hover {
  color: lightgray; 
  text-decoration: none;
}

@media (max-width: 768px) {
  footer section {
      flex-direction: column;
      align-items: center;
      padding: 0 5%;
  }

  .company-info {
      text-align: center;
      margin-bottom: 20px;
  }

  .company-info img {
      width: 150px;
  }

  .company-info p {
      width: auto;
      margin-top: 10px;
  }

  footer h3 {
      font-size: 16px;
  }

  footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
  }

  footer ul li {
      padding: 5px 0;
  }

  footer ul li a {
      padding: 3px;
  }

  footer section > div {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }

  .company-info {
      margin-bottom: 40px;
  }

  footer > section > div > ul {
      margin: 0;
  }

  footer > section > div > ul > li {
      display: block;
      margin: 5px 0;
  }
  
  .important-links, .contact, .social-media {
      margin-bottom: 20px;
  }
}


