.nav {
  margin-top: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  flex-direction: column; 
}

.logoLink {
  margin-bottom: 1rem; 
}

.logo {
  width: 200px;
}

.headerLogoLine {
  border-bottom: 2px solid #495E57;
  width: 40%;
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navList {
  margin-top: 2rem;
  width: 100%;
}

.navList ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList ul li {
  list-style-type: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navList ul li a {
  text-decoration: none;
  font-size: large;
  color: #333;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.navList ul li a:hover {
  background-color: lightgray;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: row; 
    justify-content: space-between;
  }

  .logo {
    width: 150px;
  }

  .navList {
    display: none;
    width: 100%;
    background-color: #495E57;
    position: absolute;
    top: 100%; 
    left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .navList.open {
    display: flex;
  }

  .navList ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .navList ul li {
    margin: 0;
    width: 100%;
  }

  .navList ul li a {
    font-size: 1.2rem;
    color: #000;
    display: block;
    width: 100%;
    padding: 1rem;
  }

  .menuToggle {
    display: block;
  }
}







  
  